.docs-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;

    h3.docs-h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: normal;
        color: #159957;
    }

    p.doc-p {
        margin-bottom: 1em;
    }
}
