.image-slider-holder {
    position: relative;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    max-width: 1200px;

    .image-slider {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        opacity: 0;
        z-index: 1;
        @include transition(opacity, 1s);
        @include animation(slideOutLeft .2s ease-in);

        img {
            width: 100%;
            max-width: 1200px;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
        }

        &.is-showing {
            @include animation(slideInRight .3s ease-out);
            opacity: 1;
            z-index: 2;
        }
    }

    #pause-btn {
        position: absolute;
        top: -20px;
        left: 0;
    }
}
